dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*.swp
/runtests/
/build-plan.log
/build.log
/logs/
/sandbox/
/build-tools.log
/logs-tools/
build-plan.txt
build-plan.csv
hackage-map.txt
module-name-conflicts.txt
/exclusive
/inclusive
*.stackage
/haddock/
/build-summary/
