# Disable Docker stuff to try to make it faster
sudo: true

# Choose a lightweight base image; we provide our own build tools.
language: generic

# GHC depends on GMP. You can add other dependencies here as well.
addons:
  apt:
    packages:
    - libgmp-dev

# Edit etc/ci-script.sh to change GHC version
script:
- ./etc/ci-script.sh

# Caching doesn't work with sudo: true
#cache:
#  directories:
#    - $HOME/.stack
#    - $HOME/.stackage/curator/cache
