name: check
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Stackage check
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.stack
            ~/.stackage/curator/cache
          key: ${{ runner.os }}-stackage-nightly-${{ hashFiles('**/build-constraints.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - run: etc/check.sh
