name: image

on:
  push:
    branches:
      - nightly
      - lts24
      - lts23

jobs:
  push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v6

      - name: Log into Github registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}/build:${GITHUB_REF#refs/heads/}
          docker build . -f Dockerfile --tag $IMAGE_ID
          docker push $IMAGE_ID
          echo Pushed new build image $IMAGE_ID
